.cellss {
  width: 20px;
  height: 20px;
  background-color: white;
  display: inline-block;
} 
   
.rowss {
  height: 20px;
}

.mobile{
  display: none;
}
@media (max-width:  600px){
.mobile{
  display: grid;
}
.rowss {
  height: 14px;
}

.cellss {
  width: 14px;
  background-color: white;
  height: 14px;
  display: inline-block;
}}

.cell-green {
  background-color:rgb(0, 0, 0);
  border: 1px solid white;

}

.cell-red {
  background-color: green;
  border: 1px solid rgb(0, 0, 0);

}

.cell-purple {
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.buttonss{
  height: 40px;
  width: 40px;
  color: rgb(255, 255, 255);
}